/* Variables */
:root {
  --black: #111;
  --dark-blue: #236ea8;
  --light-blue: #279dbb;
  --light-grey: #707070;
}

/* Simple Reset */
* {
  margin: 0;
  padding: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

html {
  font-size: 1.3vw;
}

/* Everything Else */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  color: var(--black);
  padding: 8.4%; /* Roughly A4 */
}

h1,
.subtitle {
  font-size: 2.2rem;
  line-height: 1.6;
}

.subtitle {
  color: var(--dark-blue);
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  color: var(--dark-blue);
}

h4 {
  color: var(--light-grey);
  display: block;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  word-break: break-all;
}

a:hover,
a:active,
a:focus {
  color: var(--light-blue);
}

a:focus {
  outline: 2px solid var(--black);
}

ul {
  list-style-position: inside;
}

p,
ul {
  margin-bottom: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5%;
  margin-top: 1.2rem;
}

@media only screen and (max-width: 950px) {
  html {
    font-size: 16px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 450px) {
  h1,
  .subtitle {
    font-size: 1.8rem;
  }
}
